.page-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  color: #e2e8f0;
}

.page-header h2 {
  font-size: 1.6rem;
  margin: 0 0 0.3rem 0;
  color: #f8fafc;
}

.page-header p {
  margin: 0 0 1.5rem 0;
  color: #64748b;
  font-size: 0.95rem;
}

.cards-grid {
  display: grid;
  grid-template-colums: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.2rem;
}

.info-card{
  background: #0f172a;
  border: 1px solid #1e293b;
  border-radius: 12px;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-icon {
  font-size: 1.8rem;
  background: #1e293b;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #38dbf8;
}

.sub-info {
  margin: 0.2rem 0 0 0;
  color: #94a3b8;
  font-size: 0.85rem;
}

.table-responsive {
  background: #0f172a;
  border: 1px solid #1e293b;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th {
  padding: 1rem;
  color: #64748b;
  font-size: 0.8rem;
  text-transform: uppercase;
  border-bottom: 1px solid #1e293b;
  background: #0b1120;
  text-align: center;
}

td {
  padding: 1rem;
  border-bottom: 1px solid #1e293b;
  color: #cbd5e1;
  font-size: 0.95rem;
  vertical-align: middle;
}

.badge-year {
  background: rgba(56, 189, 248, 0.1);
  color: #38bdf8;
  padding: 0.2rem 0.5rem;
  border-radius: 6px;
  font-size: 0.85rem;
  font-weight: 600;
  display: inline-block;
}

.highlight-dino {
  color: #4ade80;
  font-weight: 600;
}

.text-muted {
  color: #64748b;
}

.divider {
  padding: 20px;
}
