<div class="sidebar">
  <div class="logo-section">
    <span class="logo-icon">🦖</span>
    <h2>Mesozoic<span>API</span></h2>
  </div>

  <nav class="menu-items">
    <a routerLink="/dashboard" routerLinkActive="active" class="menu-item active">
      <span class="icon">📊</span> Dashboard
    </a>
    <a routerLink="/criaturas" routerLinkActive="active" class="menu-item">
      <span class="icon">🦕</span> Criaturas
    </a>
    <a class="menu-item">
      <span class="icon">🌿</span> Periodos
    </a>
    <a class="menu-item">
      <span class="icon">🦴</span> Fósseis & Regiões
    </a>
  </nav>

  <div class="sidebar-footer">
    <p>Status: <span class="status-online">Online</span></p>
  </div>
</div>
